.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
# Not needed in the image
PPE_Detection_Demo.zip
PPE-yolov8s.pt
yolov8n.pt
sample-videos/*.ts
sample-videos/*.m3u8
*.png
!static/*.png
static/qr.png
deploy/
